.hero {
  display: flex;
  background-color: #e5e5e5;
  padding: 28px;
}

.hero-left-section {
  width: 50%;
  text-align: center;
}

.hero-right-section {
  width: 50%;
  display: flex;
}

.hero-img {
  width: 80%;
}

.hero-btns-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.hero-btns {
  width: 50%;
}

.hero-btn {
  margin: 10px;
}

@media (max-width: 780px) {
  .hero-left-section {
    width: 100%;
  }

  .hero-right-section {
    display: none;
  }
}
