.about-card-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 20px;
  text-align: center;
}

.about-width {
  width: 18rem;
}

.about-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 338px;
  margin: 20px;
  transition: transform 0.3s ease;
}

.about-card:hover {
  transform: scale(1.1);
}

.about-card-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.about-card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-card-text {
  text-align: center;

  font-size: 16px;
  line-height: 1.4;
}
