 /* Navbar */
 .navbar {
    padding: 20px 0;
  }
  .bg-body-tertiary {
    /* background-color: rgba(28, 176, 246, 0.1) !important; */
    background-color: transparent !important;
  }
  
  .logo {
    font-family: "Satisfy", cursive;
    font-size: 35px;
  }
  
  .nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  
  .nav-link:hover {
    color: #1cb0f6;
    transition: all 0.2s;
  }
  
  @media (max-width: 991px) {
    .navbar .navbar-btn {
      margin-top: 30px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 390px) {
    .logo {
      font-size: 25px;
    }
  }
  
  .navbar-collapse {
    display: inline-block;
    text-align: center;
  }
  
