/* {
  color: var(--Eel);
} */

.color-nav {
  /* background-color: red; */
  /* font-weight: bold; */
}

.nav-link.active {
  background-color: var(--Bee) !important;
}

.Careers-TableHeader {
  cursor: pointer;
}

.Careers-TableHeader {
  cursor: pointer;
}

.Careers-TableHeader:hover {
  background-color: #1cb0f6;
}

.FlexCenter {
  display: flex;
  justify-content: center;
}
