.CareersContainer,
.CollegeContainer {
  background-color: var(--Polar);
}

.FlexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BorderTop {
  border-top: 1px solid var(--Hare);
}

.Width138px {
  width: 138px;
}

.aboutHr {
  /* var feather green is not working */
  border: 2px solid#2b70c9;
  border-radius: 10px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.aboutHeader {
  display: flex;
  justify-content: center;
}



