
* {
    color: var(--Eel);
}

.CareerContainer {
    background-color:#58cc02;
}

.FlexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BorderTop {
    border-top: 1px solid var(--Hare);
}