@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

:root {
  /* Core Colors */
  --Feather-Green: #58cc02;
  --Mask-Green: #89e219;
  --Eel: #4b4b4b;
  --Snow: #ffffff;

  /* Secondary Colors */
  --Macaw: #1cb0f6;
  --Cardinal: #ff4b4b;
  --Bee: #ffc800;
  --Fox: #ff9600;
  --Feather-Green: #ce82ff;
  --Humpback: #2b70c9;

  /* Neutrals */
  --Eel: #4b4b4b;
  --Wolf: #777777;
  --Hare: #afafaf;
  --Swan: #e5e5e5;
  --Polar: #f7f7f7;
  --Snow: #ffffff;

  /* Other */
  --Wing-Overlay: #43c000;
  --Beak-Inner: #b66e28;
  --Beak-Lower-Feet: #f49000;
  --Beak-Upper: #ffc200;
  --Beak-Highlight: #ffde00;
  --Tongue-Pink: #ffcaff;
}

.navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-zindex-top {
  z-index: 10;
}

.navbar-spacer {
  padding-top: 64px;
}

.footer-spacer {
  padding-bottom: 50px;
}

/* Cards.css */

/* Override the primary color */

:root {
  /* Core Colors */
  --Feather-Green: #58cc02;
  --Mask-Green: #89e219;
  --Eel: #4b4b4b;
  --Snow: #ffffff;

  /* Secondary Colors */
  --Macaw: #1cb0f6;
  --Cardinal: #ff4b4b;
  --Bee: #ffc800;
  --Fox: #ff9600;
  --Feather-Green: #ce82ff;
  --Humpback: #2b70c9;

  /* Neutrals */
  --Eel: #4b4b4b;
  --Wolf: #777777;
  --Hare: #afafaf;
  --Swan: #e5e5e5;
  --Polar: #f7f7f7;
  --Snow: #ffffff;

  /* Other */
  --Wing-Overlay: #43c000;
  --Beak-Inner: #b66e28;
  --Beak-Lower-Feet: #f49000;
  --Beak-Upper: #ffc200;
  --Beak-Highlight: #ffde00;
  --Tongue-Pink: #ffcaff;
}

.navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
}

.navbar-zindex-top {
  z-index: 10;
}

.navbar-spacer {
  padding-top: 64px;
}

.footer-spacer {
  padding-bottom: 50px;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-of-use-container {
  padding-left: 24px;
}

.terms-of-use-header {
  font-size: 24px;
  padding-top: 24px;
}

.privacy-policy-container {
  padding-left: 24px;
}
.privacy-policy-header {
  font-size: 24;
  padding-top: 24px;
}

.plan-flex {
  display: flex;
}
.plan-flex {
  width: 18rem;
}

.feedback-margin {
  margin: 0 20px;
}

.contact-margin {
  margin: 0 20px;
}

.colleges-fixed {
  position: fixed;
}
.colleges-table {
  padding: 25px;
  padding-top: 74px;
}

.careers-fixed {
  position: fixed;
}

.careers-paddingtop {
  padding-top: 50px;
}

.career-width {
  width: 18rem;
}
.calculator-position {
  position: fixed;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 40px;
  margin: 40px;
}

.calculator-width {
  width: 20%;
}

.calculator-width-center {
  width: 100%;
  text-align: center;
}

.calculator-width-50-percent {
  width: 50%;
}

.calculator-margin-top {
  margin-top: 40px;
}

.calculator-table-row-header {
  background: var(--Humpback);
  color: white;
}

.background-swan {
  background: var(--Swan);
}

.calculator-width-20-percent-textalign-center {
  width: 20%;
  text-align: center;
}

.calculator-explore-careers-table-row {
  font-weight: bold;
  text-align: center;
  width: 100%;
  background: var(--Humpback);
  color: white;
}

.calculator-table-body {
  background: var(--Beak-Upper);
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.calculator-financial-value-of-college {
  font-weight: bold;
  width: 50%;
  font-size: 32px;
}

.calculator-width-50-percent-fontsize-32px {
  width: 50%;
  font-size: 32px;
}

.calculator-color-red {
  color: red;
}
.budget-fontweight-bold {
  font-weight: bold;
}

.admin-display-flex-justifycontent-space-between {
  display: flex;
  justify-content: space-between;
}
