* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #ffffff 0%, #f3f8f7 49.91%, #fff9f5 94.19%);
}

.hint {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 150px;
  width: 100%;
  background-color: #78c800;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  transform: translateZ(0);
  border-style: solid;
  border-color: transparent;
  border-radius: 16px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-width: 0 0 4px;
  padding: 13px 16px;
  box-shadow: 0px 5px #58a700;
}

#product-landing {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
  padding-top: 30px;
}

img {
  width: 100%;
}

#logo {
  width: 193px;
  height: 47.64px;
}

#hero {
  display: flex;
  align-items: center;
  margin-top: 80px;
  height: 50vh;
}

#hero-text {
  font-family: "Jost", sans-serif;
  color: #54575a;
}

#hero-text h1 {
  font-size: 58px;
  line-height: 68px;
}

#hero-text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.hero-btn {
  display: flex;
  justify-content: flex-start;
  height: 46.28px;
  margin-top: 15px;
}

#apple {
  max-width: 138.44px;
  margin-right: 22px;
}

#google {
  max-width: 156.19px;
}

#hero-visual {
  position: relative;
}

#hero-img {
  position: relative;
  top: 30px;
}

@media (max-width: 914px) {
  #hero-text h1 {
    font-size: 45px;
  }

  #hero-text p {
    font-size: 18px;
  }

  #apple,
  #google {
    width: 80% !important;
  }
}
@media (max-width: 720px) {
  #apple,
  #google {
    width: 40% !important;
  }

  #hero-text h1 {
    font-size: 40px;
  }

  #hero-text p {
    font-size: 16px;
  }

  #main .main-img {
    transform: translateX(10%);
  }

  .main-img:nth-of-type(2) {
    left: 19%;
  }

  #main {
    height: 600px;
  }
}

@media (max-width: 600px) {
  #hero-visual {
    display: none;
  }

  #hero-intro {
    width: 100%;
    text-align: center;
  }
}
