/* Base Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
@import "base/typography.css";

/* Components */
@import "components/button.css";
@import "components/card.css";
@import "components/hero.css";

/* Layouts */
@import "layouts/navigation-bar.css";
@import "layouts/footer.css";

/* Pages */
@import "./pages/about.css";
@import "./pages/admin.css";
@import "./pages/budget.css";
@import "./pages/calculator.css";
@import "./pages/career.css";
@import "./pages/careers.css";
@import "./pages/college.css";
@import "./pages/colleges.css";
@import "./pages/contact.css";
@import "./pages/feedback.css";
@import "./pages/home.css";
@import "./pages/not-found.css";
@import "./pages/plan.css";
@import "./pages/privacy-policy.css";
@import "./pages/retire.css";
@import "./pages/terms-of-use.css";
