.navbar-container {
  height: 64px;
  background: var(--Humpback);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar-link {
  text-decoration: none;
  color: var(--Polar);
  background: var(--Humpback);
  margin-right: 20px;
}

.tooltip.show {
  opacity: 1;
  color: var(--Humpback);
  font-weight: bold;
}

.tooltip-inner {
  background-color: var(--Swan);
  box-shadow: 0px 0px 4px black;
  opacity: 1 !important;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: var(--Swan) !important;
  color: var(--Humpback);
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: var(--Swan) !important;
  color: var(--Humpback);
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: var(--Swan) !important;
  color: var(--Humpback);
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: var(--Swan) !important;
  color: var(--Humpback);
}
